<h1>My portfolio</h1>
<div class="search-area">
  <p>search stock</p>
  <%= form_tag(search_stock_path, method: 'get') do %>
  <!-- form fields go here -->
  <div class="form-group row">
    <div class="col-sm-9 no-right-padding">
  <%= text_field_tag :stock, params[:stock], placeholder: "stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
    </div>


  <div class="col-sm-3 no-left-padding">
    <%= button_tag type: :submit, class: "btn  btn-success" do %>
    <%= fa_icon 'search' %>
    <% end %>
  </div>
  </div>

<% end %>
<% if @stock %>
<div class="card card-header">
  <div class="results-block">
    <strong>Symbol:</strong><%= @stock.ticker %>
    <strong>name:</strong><%= @stock.name %>
    <strong>price:</strong><%= @stock.last_price %>
  </div>

</div>
<% end %>
